.video-container {
  max-width: 640px;
  position: relative;
  margin: 0 auto;

  .thumb, .iframe, .play,
  .sound, .preload, .mask {
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0
  }

  .thumb {
    z-index: 1;
    background-position: 50%;
    background-size: cover;
  }

  .mask {
    display: block;
    z-index: 4;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .playing .mask {
    background-color: transparent;
  }

  .play, .sound {
    z-index: 4;
    cursor: pointer;
    background-image: url("../img/icons.png");
  }

  .play {
    width: 80px;
    height: 80px;
  }

  .sound {
    width: 25px;
    height: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    background-position: 0 -81px;
  }

  .muted .sound {
    background-position: 105px -81px;
  }

  .preload {
    z-index: 5;
    width: 32px;
    height: 32px;
    display: block;
  }

  .progress {
    height: 15px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    overflow: hidden;
    background-color: #f5f5f5;

    .progress-bar {
      background-color: #E62117;
      float: left;
      width: 0%;
      height: 100%;
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      text-align: center;
    }

    .buffer-bar {
      @extend .progress-bar;
      position: absolute;
      z-index: -1;
      background-color: #f6a5a0;
    }
  }
}